* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #f9f9f9;
}

nav {
    background-color: #696969;
    padding: 0 25px;
}

.center-align{
    margin-top: 50px;
}

.products{
    background-color: #dbdada;
    max-width: 400px;
    padding: 20px;
}

.products img {
    max-width: 150px;
}

.products p {
    font-size: 16px;
}

.products button {
    margin: 10px 0px;
}
.label {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

form {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 35px;
}

.erro-signup {
    margin-top: 10px;
    color: #000;
    font-weight: bold;
}

.btn {
    width: 100%;
}

.sidenav-fixed{
    margin-top: 64px;
}

@media(max-width: 425px){
    .home-page header nav .brand-logo{
        font-size: 14px;
        left: 25%;
    }

    .right{
        display: block !important;
    }

    form {
        width: 100%;
    }
}

@media(max-width: 768px){
    .home-page header nav .brand-logo{
        font-size: 20px;
        left: 25%;
    }

    .right{
        display: block !important;
    }

}
